 body {
	
	/*background-color: rgb(21, 21, 19);*/
    /*background-color: rgb(33, 38, 41);*/
    background-color: rgb(39, 40, 34);
	/*background-color: rgb(68, 68, 65);*/
	/*background-color: rgb(91, 93, 88);*/
	/*background-color: black;*/
	/*background-color: rgb(21, 21, 21);*/
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	font-size: 19px;
	/*color: rgb(219, 211, 193);*/
	color: rgb(226,221,204); 
	text-align:center;
}

h1 {
	/*font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;*/
	/*font-family: "BentonSans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font-size:47px;
	font-weight:300;
	margin-bottom: 27px;
    margin-top: 31px;
	color: rgb(242, 190, 131);
}


h2 {
	padding-top:16px;
	padding-left:60px;
	font-size:26px;
	font-weight:600;
	margin-bottom:7px;
}

.yellowish {
	color: rgb(232, 197, 158);
	/*color: rgb(230, 192, 149);*/
	/*color: rgb(209, 170, 134);*/
	/*color: rgb(196, 162, 130);*/
	/*color: rgb(255, 242, 204);*/
}

.whitish {
	color: rgb(226, 221, 204);
}



.container-fluid  > .teaser-text {
	margin-left:8%;
	margin-right:8%;
}

.col-sm-6 {
	padding:0px;
}


.col-md-6 {
	text-align:left;
	padding-left:6%;
	padding-right:6%;
}



.carousel-text-field {
	text-align:center;
	margin-top:55px;
	padding-top:7%;
	font-size:21px;
	font-weight:100;
	color: rgb(226, 221, 204);
}

.carousel-text-field  h1{
	font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
	font-weight:100;
	font-size:48px;
	margin-bottom:25px
	 /*font-variant: small-caps*/
}


.navbar-default {
	/*background-color: rgb(68, 64, 57);*/
	/*background-color: rgb(68, 66, 63);*/
	/*background-color:rgb(61, 58, 55);*/
	background-color:rgb(66, 67, 62);
	color: rgb(234, 230, 222);
	border: none;
}

.navbar-default .navbar-brand {
  margin-right: 14px;
  margin-left: -3px !important;
  width: 50px;
  height: 50px;
  background: url(../images/logo_only_background.png) no-repeat 0 100%;
  background-size: 90%;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
  /*background-color: rgb(58, 55, 49);*/
  background-color: rgb(51, 48, 45);
  color: rgb(178, 174, 167);
}


.navbar-collapse .collapse{
	height:55px;
}

.navbar-nav > li  > a {
	padding-top:18px;
	padding-bottom:17px;
	padding-left:27.7px;
	padding-right:27.7px;
}

.navbar > .navbar-nav > li  >a {
	height:60px
}

.navbar-default .navbar-nav > li > a {
		color: rgb(235, 229, 211);
}

.navbar-header {
	padding-left:25px;
}

.navbar-right {
	margin-top:13px;
	margin-right:7px;
}

.navbar-right > .btn {
	padding-top:5px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	font-size: 19px;
	font-weight:500;
	background-color:rgb(68, 64, 57);
	color: rgb(234, 230, 222);
	margin-top:-5px;
	height:38px;	
}





.icon-md {
  font-size: 24px;
  height: 88px;
  width: 88px;
  line-height: 88px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 10px;
}


.icon-color1 {
  background-color: #e74c3c;
}
.icon-color2 {
  background-color: #2ecc71;
}
.icon-color3 {
  background-color: #3498db;
}

@media (min-width: 768px) { .carousel-text-field { max-width: 750px; } }