	html {
		height:100%;
	}
	
	body {
		height: 100%;
		background-color: rgb(61, 45, 21);
	}
	
	.bottom-of-page { 
		display:block;
		position:absolute;
		bottom:0px;
		/*position:fixed; */
	}
	
	.container {
		padding: 0 20%;
	}
	
	.message-box {
		background-color:rgb(226, 221, 204);
		border: 1px solid rgb(68, 68, 65);
		border-radius: 5px;
		padding: 0px 45px;
		background: rgb(247, 245, 239);
	}
	
	.message-box  > h1{
		text-align:center; 
		margin-top:38px;
		margin-bottom:20px; 
		font-size: 30px;
	}
	
	.navbar {
		background-color: transparent;
		border-bottom-style: none;
	}
	
	
	
	.navbar-default .navbar-brand {
		margin-right: 0px;
		margin-left: 20px;
		width: 58px;
		height: 58px;
		background: url(../images/logo_only_background.png) no-repeat 0 50%;
		background-size: 100%;
	}
	
	.navbar-right {
		margin-top:18px;
		color: rgb(234, 230, 222);
		
	} 
	
	
	.navbar-right > .btn {
		padding-top:5px;
		font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
		font-size: 19px;
		font-weight:500;
		/*background-color:rgb(68, 64, 57);*/
		background-color: transparent;
		color: rgb(234, 230, 222);
		margin-top:-10px;
		margin-left:10px;
		height:38px;	
	}
	
	
	.btn-primary {
		background-color:rgb(117, 74, 49);
		border-color: rgb(104, 68, 48);
	}
	.btn-primary:hover{
		background-color:rgb(99, 62, 40);
		border-color: rgb(81, 55, 39);
	}
	

	
	.form-control {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.form-group .help-block {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.form-group .help-block::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.form-group:hover .help-block {
    visibility: visible;
    opacity: 1;
}

.form-error {
	text-align: center;
	background-color: #FFBABA;
	color: #6A0E0E;
	}
	
	