packages:
  yum:
    mod_ssl : []
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        WSGIScriptAlias / /opt/python/current/app/webservice/wsgi.py
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
      </VirtualHost>
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGizCCBHOgAwIBAgIRAMenwB9DINKL+C/FClPtqqkwDQYJKoZIhvcNAQEMBQAw
      SzELMAkGA1UEBhMCQVQxEDAOBgNVBAoTB1plcm9TU0wxKjAoBgNVBAMTIVplcm9T
      U0wgUlNBIERvbWFpbiBTZWN1cmUgU2l0ZSBDQTAeFw0yNTA5MDIwMDAwMDBaFw0y
      NTEyMDEyMzU5NTlaMB0xGzAZBgNVBAMTEnRyZWVvZmtub3dsZWRnZS5haTCCASIw
      DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMt8rNR5cG5c0Y13KNfH0Jc3cVKO
      0Fmsf36SKd+S804KR1LscrSgPuSlg9uODV+Af2o4HOTkwhK7VRBtuRpAqWgz66bb
      C+RrLBpU/ZBc2RmV0T/FM8wUj624PHzm8/LuMKF96jx/cqfbTmfLTTN2zafCl2oa
      AqvD5OWIYvI/9bHAMz+U6H4qmETUjXAo/TcKZhQfcd7igIqz6selDm8pmtWDwZju
      xAV+cneC/y4wjwMM0FCHO4SbaF+80rHPd2gZ6hR2EXUg3PaC/n9p8ysCjtsoDDOf
      C+RC3+hxwZAmKvSNytvYggNUTfIdPIAKs9H7fK1a63ZndW7i6ui0kuX7Vw0CAwEA
      AaOCApYwggKSMB8GA1UdIwQYMBaAFMjZeGii2Rlo1T1y3l8KPty1hoamMB0GA1Ud
      DgQWBBQluM8keQ7Dx2BvJjjYjSZn0Q650jAOBgNVHQ8BAf8EBAMCBaAwDAYDVR0T
      AQH/BAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwSQYDVR0gBEIw
      QDA0BgsrBgEEAbIxAQICTjAlMCMGCCsGAQUFBwIBFhdodHRwczovL3NlY3RpZ28u
      Y29tL0NQUzAIBgZngQwBAgEwgYgGCCsGAQUFBwEBBHwwejBLBggrBgEFBQcwAoY/
      aHR0cDovL3plcm9zc2wuY3J0LnNlY3RpZ28uY29tL1plcm9TU0xSU0FEb21haW5T
      ZWN1cmVTaXRlQ0EuY3J0MCsGCCsGAQUFBzABhh9odHRwOi8vemVyb3NzbC5vY3Nw
      LnNlY3RpZ28uY29tMIIBBAYKKwYBBAHWeQIEAgSB9QSB8gDwAHcA3dzKNJXX4RYF
      55Uy+sef+D0cUN/bADoUEnYKLKy7yCoAAAGZCoeGuQAABAMASDBGAiEAgM+apcFC
      OEE9jtBExtMmsub/BzN4JbNjqSoTuIUV+3oCIQCL713udDKDojLQRBFuFBWh/LNI
      bD4ID1T/Q89+ZTedYgB1AA3h8jAr0w3BQGISCepVLvxHdHyx1+kw7w5CHrR+Tqo0
      AAABmQqHhroAAAQDAEYwRAIgSa57pLCchzJhtFGPHm+2lHu3fPkHycZGT7izv3Mf
      dfICIE6WHMdBd3cpe+ibNqOqiVRr7EDwW4k+YXmGKOCsFVJIMDUGA1UdEQQuMCyC
      EnRyZWVvZmtub3dsZWRnZS5haYIWd3d3LnRyZWVvZmtub3dsZWRnZS5haTANBgkq
      hkiG9w0BAQwFAAOCAgEAIhbTDWRRZXlcl4aIUHObYntLXEzZf6eW/QLyWJShidlx
      wgkUow4Sqe6lPrWB4UK3xsAwjATIg5D+pFd9KMO6MhREXoJ+R7PqGexEYNRQn2Fa
      hu9huspFXxAT0p/X01x+ZpUpBG7XjHPkgF1eWzipVjghxq+J2lYPOU9lje4wdF+I
      ENKacyxajgzbwXteavW06mZwaRoim+nuMGhsr0A7xDqz30j28Bw/HQWTJYdj9ZTR
      WlyPZCyyBlHde6mCG1uvhoXZs3EPbNtx7gCnV8V4ZBXx5aACqpnKPsRcff7wXDEO
      40MBFY7Ssr+xw91BuvbBN5b2cViu6d7E9lx1CY7nmtahFxxm/fG+6D/9DTcifDl/
      D+Sw8iRI7v7mL5iCCmDgO9tn09e8j1Dcd2D3oDQLXFvbPvwG1N6PxAlAmR9K9EMM
      B/jLG+heGx7MJTAS1enps+uuv27T9gmDLHU79k1NsbOLZ7oksQ/HNTKKYjvNU4ql
      UNVtHi7+Oo4OKTZKt02XFUq4L00M8Mg1WtNYeJoO0fr56jcAYLlmKEYvS9inDds/
      xB3SiZHrGTAKppHpBGD8tKKbYRl9NndRqDHMR17h/XbRY/Vj+Xa1d4Qtnct2MK+X
      s6bmFKgbBaQhPIzNJpS6frNaML87cVy3K3xs1GIP5qeFkHM62wyIkMAZcUnGN4k=
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAy3ys1HlwblzRjXco18fQlzdxUo7QWax/fpIp35LzTgpHUuxy
      tKA+5KWD244NX4B/ajgc5OTCErtVEG25GkCpaDPrptsL5GssGlT9kFzZGZXRP8Uz
      zBSPrbg8fObz8u4woX3qPH9yp9tOZ8tNM3bNp8KXahoCq8Pk5Yhi8j/1scAzP5To
      fiqYRNSNcCj9NwpmFB9x3uKAirPqx6UObyma1YPBmO7EBX5yd4L/LjCPAwzQUIc7
      hJtoX7zSsc93aBnqFHYRdSDc9oL+f2nzKwKO2ygMM58L5ELf6HHBkCYq9I3K29iC
      A1RN8h08gAqz0ft8rVrrdmd1buLq6LSS5ftXDQIDAQABAoIBAQC3FBEbibdSVEhl
      kxQ4MBrIMqXOtZdXVw/OfQsXkEs/p5fMT9hUEukDJrefzgrSJfZ9RscYWYkS+WDr
      Sw0DRbIlgrE+ik4E0Tf46QbJ3/+kOVrumSqlLsqmbeBeMBzEMPGoGnWowLITvAiq
      8gsfhoA5s6YvW/+TMsi6ix8a/di8dqhGtuv8bUz2ocwjOUHlpOYP4BWfkPPzF2Ob
      PDTB/LXyj2pM4fhZh05e7zoDH4DCWn+NmAYOgZUPyRmj/UMC4f4/gfBjr8g2EqTh
      1sruKh8zRULOmBLAWvmrhs5yj6aOgEnJLOS2WtBmIFMX3mVpH3c2hIAm1jf3zBKT
      WHwVJQyxAoGBAPnC/xVpqBy6dBDCwvm64GOa1a2Gbo/SXRxNGgglbM5E2fq2Xvr4
      BOTsFqAK4+lfxpZMsTT0POZn6+uxfAWjIo9d0Ijh+mu9Qy6+jmSPfadInDVjGWIA
      jJhyUGfEUrUeLLJTYC9tDoLDdIAiAKPVtqJnzh/kYygtoQtB4R1S1Fu7AoGBANCR
      yxNxfAiXfneMvkzYk53mnlXg6Gty+uQkBhnnFthF9r3aZfGs1OJIlwl+Sx6JFrz+
      MZnSNQ4/uK/tYkMso9nmP1lq6UKsXA3WKvQX5Md9jFD9G1t13HoKDmmlWZyka7kQ
      G7vDEB6AtnwcP5kPwBn2p7OkZc17CRwJoNacpZfXAoGAGLrG+P7KJ3YKsfImzgVD
      3HjjOVg7MEBa+cdkkXPrLw1ALAPMqbrO+T+rCdOqN1xFVHJphV29fe7CPEcJiaFa
      damLUVJWsj4+Ha2+eZR/k4Wr+dlDFSIKyblf3rZgnhBLyqhYuLlqm2Xw7hLvz0kE
      2VW/4gaCDuNds7ilKnseDasCgYB6LM0eqJ2VkticQy++aCegmVUqzUKYnpPlTEze
      o4W4TtOIxwRsm2dg3lDLWNW8H2XYc7auenplzGHtfErROrcIj12QjZXyXnDWEhy7
      O7viN+MYFgwOeW4bdwSWUiu6HH6Vu5/jTxKEK7W54fpHOPi4vMnj62tPAMGHUQSM
      ctp1pQKBgQCsQmBJw4lBTsM2LsHRBWMbIxqoxmBEzORUtvHs+Dh+M0+/F5gypkhG
      vAvPB7yspyhdvwUs0YbjUGGdVRxML/ZOM7KgbD2GrpprFzDHv4grD8XkksTh8lDl
      azedsBcbobj2dEWD6WUOLS38+G8UeS9OVWKh6UogCTrTCiyo+X8gEg==
      -----END RSA PRIVATE KEY-----
container_commands:
  01killhttpd:
    command: "killall httpd"
    ignoreErrors: true
  02waitforhttpddeath:
    command: "sleep 3"