packages:
  yum:
    mod_ssl : []
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        WSGIScriptAlias / /opt/python/current/app/webservice/wsgi.py
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
      </VirtualHost>
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGjTCCBHWgAwIBAgIRAO2f8DPkEYg4fdYruTdXm1YwDQYJKoZIhvcNAQEMBQAw
      SzELMAkGA1UEBhMCQVQxEDAOBgNVBAoTB1plcm9TU0wxKjAoBgNVBAMTIVplcm9T
      U0wgUlNBIERvbWFpbiBTZWN1cmUgU2l0ZSBDQTAeFw0yNTA2MDcwMDAwMDBaFw0y
      NTA5MDUyMzU5NTlaMB0xGzAZBgNVBAMTEnRyZWVvZmtub3dsZWRnZS5haTCCASIw
      DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAI/caUKeOhIrgxTZsFz/DQga2KR0
      eq3jDzeqz2RPQOfG49h7mw0kv2wydP65NMfmBNqFn6wxIF8vrtj69i6gy8IUwi+y
      OUEPWCUeZy2ji/krsxhwVpD3wcQrLQjKkkKS599PwCp0W8DH/txWDEI4whJfF+4C
      wqftG6HY7wAWQEVqhdkgkv1zcIQexYrBpWE13wPXQwFeEY06Vgcl7R3wG2ezRGZ2
      jFTdDU0f5T1rlci+PnE1RQJ929bGkYyJSGEHe9LPW86UDoTYQfmCfUo7iF6T5foL
      9k3L5Z+HNAKIelfoXLcP4EzslWsOwaVPLkb9AOgXP78GCIIm8Kojt0C9IRcCAwEA
      AaOCApgwggKUMB8GA1UdIwQYMBaAFMjZeGii2Rlo1T1y3l8KPty1hoamMB0GA1Ud
      DgQWBBQNOl1RLaOuXBT8BYhCZYWy3oKORTAOBgNVHQ8BAf8EBAMCBaAwDAYDVR0T
      AQH/BAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwSQYDVR0gBEIw
      QDA0BgsrBgEEAbIxAQICTjAlMCMGCCsGAQUFBwIBFhdodHRwczovL3NlY3RpZ28u
      Y29tL0NQUzAIBgZngQwBAgEwgYgGCCsGAQUFBwEBBHwwejBLBggrBgEFBQcwAoY/
      aHR0cDovL3plcm9zc2wuY3J0LnNlY3RpZ28uY29tL1plcm9TU0xSU0FEb21haW5T
      ZWN1cmVTaXRlQ0EuY3J0MCsGCCsGAQUFBzABhh9odHRwOi8vemVyb3NzbC5vY3Nw
      LnNlY3RpZ28uY29tMIIBBgYKKwYBBAHWeQIEAgSB9wSB9ADyAHcA3dzKNJXX4RYF
      55Uy+sef+D0cUN/bADoUEnYKLKy7yCoAAAGXSz4hvwAABAMASDBGAiEAh/YbWLhr
      JyTMp1KQ81s0KHcTOs4HfKTxikVqpz3sl3MCIQCovaYuIghtPkseGUWmXa4QiWC3
      mZNilJcJyDPnziMAKgB3AA3h8jAr0w3BQGISCepVLvxHdHyx1+kw7w5CHrR+Tqo0
      AAABl0s+IaQAAAQDAEgwRgIhAMH4Y6g+nnHra3bLZSRR+FR9EJheOTQn2ItuTqtn
      IiTaAiEArkb40dzds9yY9D/tVW2ZgkhybFjSMEO9tYpLY+zRdTMwNQYDVR0RBC4w
      LIISdHJlZW9ma25vd2xlZGdlLmFpghZ3d3cudHJlZW9ma25vd2xlZGdlLmFpMA0G
      CSqGSIb3DQEBDAUAA4ICAQBnj61O27PQ+9lTg9cm+N0qPVa5hJ8dcKTgt1EnDs6A
      JiC3gFqAQHdtv8T61yaxoErZ5vFikCjlNm7FPjegWZ2D6BuKLb/lf/SJ51PNEnFw
      yLkkwAnsPBlfbkXf4vrTF0Miuf2YwwhfbP4jFNMfMislgUWfwH8R0aax7nfU37D3
      a4JZyIetUOQ7tzNGZPqR5iQoDeFlSt/u8Z3g+LVDrCDvJM2hHx1A8W8cpfFk9M+K
      JzF5FNYdMso1V3TfOGZqm6ujcGFcpZh0N/vj608IZrzwS2KPKvnpO5iBLtCvPzYR
      QS7G7HyqA3mIIOS+bdmc54ZFJCSAJ/B0g64rykSaOmiE10RBfedTYi11qpMuMpR0
      iMjz+FAPXAGrPXG/5xeBD6dsWQzFRN+9zM8t3V8/dHU8wztYtgS9Gz6GopYF5ufI
      7+zybcxcqHmdxszEqRyFekhgALkTcM+GPjgMvLNZr2hTpgAMWqDmYkKHq3ADs9Rl
      JaO4Od3/W/F5/hFb5nUvUhPxYoJgkjLgimHjofpsgCTnWpQACwcxIww4foRcuu2+
      WW9w9ApKL1Wgc94zfzruzguysezJuqef2fCXOeCABBkW7CwbGa5ynwUh3W+p3Njj
      IaOjJCW0DQgpy1daKyez+4OIRw27Kfn428Xo2t9+VefGtcn1LDxdXzVCa+CqGJ7s
      pg==
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAj9xpQp46EiuDFNmwXP8NCBrYpHR6reMPN6rPZE9A58bj2Hub
      DSS/bDJ0/rk0x+YE2oWfrDEgXy+u2Pr2LqDLwhTCL7I5QQ9YJR5nLaOL+SuzGHBW
      kPfBxCstCMqSQpLn30/AKnRbwMf+3FYMQjjCEl8X7gLCp+0bodjvABZARWqF2SCS
      /XNwhB7FisGlYTXfA9dDAV4RjTpWByXtHfAbZ7NEZnaMVN0NTR/lPWuVyL4+cTVF
      An3b1saRjIlIYQd70s9bzpQOhNhB+YJ9SjuIXpPl+gv2Tcvln4c0Aoh6V+hctw/g
      TOyVaw7BpU8uRv0A6Bc/vwYIgibwqiO3QL0hFwIDAQABAoIBACHmKzuSc1aiwDGi
      lkdjplt5kAE4nUvqTESu0E3vyviSyk/R2JiBR0YkoaMAW2qbTht8D0MRFHK5lrb0
      dBxKsZjbMWLx2UH2bqvYfTGo7yvY20vv9MYWS6eBEQyYR1y+pzrc3QhkANbtiaW7
      9QmJvFl95PKl3d6aJb++kZrwo1Z3xnnA71+LggkMBJHeITgmCprKZ+py4AEbWC8n
      CMLnf7lYwrzrJDLfEdhpdJldjgIS4IbS9x5hcmqZvHI+3/Q7oVsPEiaVsfBtELiW
      9r8eFdzwQItbDrAZX5VoHi5zlxCMoTNMMpPu7vQLZes/2pqjD7/IUvXbJDfwxiPc
      wC82AAkCgYEA5nspWF/cZaGCG7wPW7yvEMFDaChaRa7Auaq4IVuskMEdvnIOrKen
      Dw3dbN5DxQR67Af1ZN9nlDyrLS0iqxufPW/BCS7CgrXrOFU+R7ezMLRq3QF/3YH1
      C9EIbv6U/OY16aJ1QbguMbfAteyCyq8nSn5a+AuZ9MgRC7vVDA9fBM0CgYEAn8oO
      4eMVSLVjh0d7aoKr/gE/QBHgsfWYJBYFufTA2p8EUrhh0jc+b4KoOF7axot0h4Mz
      ehDxO7clxMCNyF6pN1SLPoWhGWQnHxCi16Dw3H8bkQJNGmsPqm7VcQKHf5BNrno3
      Br/Rr+OazF69I/qKVILl9Yq1CBaist/FYGGN3XMCgYEAg0aDNiLjlb94K/Phi47c
      594sVpclU6tFensShW2BzLEyD9dHJHAZZymuhOPUFdOHcAjYbKwSgwxLM2AR7wO8
      n3GXsXNAttKHN37WCmNHXOZmN5szCSeMOz7EXvQCSEmXS4uM3fHZ3debnAMqO+en
      qXZuuflhp1qM2vIRVt0qccECgYB5ptTzxvZCV87BhHuCmJ+nD33/Il1GP2uoNZgA
      fkWBbEVXUQcwi1yeewPlftnjBPMf5JSBX3q5cvNvOwX2wZLlDBnC7Ou8sBJUxU6l
      CeO2i5MKMI1RCqdvo1ge5MUSKmPp7SQNoGZdGdSVuZ8YUDuWod2/te2jjdAqjNDx
      UvQ13wKBgFCLZfDgHou8woG3PG3CY+hiyyhvLMGoLyeKRLfNbNUYV72WllaeyCnx
      6Xdnii+C8G99tx6mWNJc5hWpAxfdpWEvzlgvTbUJ7uuGcQul4lMwLSb1U81xLwCp
      l8zqygTjqhg+8qC16i25cR/B4e9Vm8sJqJ3BphqBiiobf2MJ0/0o
      -----END RSA PRIVATE KEY-----
container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"