{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- core CSS -->
    <link href="https://seiyria.com/bootstrap-slider/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-slider.css' %}" />



    <style type='text/css'>

   
			.card {
				background-color: #e0e0e0;
			}

			.slider-example {
				padding-top: 10px;
				padding-bottom: 55px;
				margin: 35px 0;
			}


    </style>


	<script type='text/javascript' src="dependencies/js/modernizr.js"></script>
  </head>

  <body>

    <div class="container">

      <div class="examples">
      	<div id="example-1" class='slider-example'>
      		<div class="card card-body mb-3">
				<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
			</div>
		</div>
	  </div> <!-- /examples -->
    </div> <!-- /container -->


    <!-- core JavaScript
    ================================================== 
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>-->

    <script src="https://seiyria.com/bootstrap-slider/dependencies/js/jquery.min.js"></script>
    <script src="https://seiyria.com/bootstrap-slider/dependencies/js/popper.min.js"></script>
    <script src="https://seiyria.com/bootstrap-slider/dependencies/js/bootstrap.min.js"></script>
    <script src="https://seiyria.com/bootstrap-slider/js/bootstrap-slider.js"></script>

    <script>
    	$(document).ready(function() {
            $('.tooltip').tooltip();

    		/* Example 1 */
	    	$('#ex1').slider({
	          	formatter: function(value) {
	            	return 'Current value: ' + value;
	          	}
	        });

	    	
		});
    </script>
	
	
  </body>
</html>
